@import 'components/_components/_loader';
@import 'components/_components/_icomoon';
@import 'components/bootstrap-spacelab';
@import 'components/_components/bootstrap-additions';
@import 'components/_components/toaster';

/* app css stylesheet */
body {
  padding-top: 60px;
}

.login-state-logged-in {
  display: inline-block;
  /*padding: 10px 0;*/
}

.game-container {
  margin-top: 15px;
}

.end-game-wrap {
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  margin: .4em 0;
  position: relative;
}

.player-card {
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, .3);
  margin: .4em 0;
  position: relative;
}

.player-card header {
  margin-bottom: .5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.player-card footer {
  margin-top: .5em;
}

.player-card .cancel-btn {
  position: absolute;
  top: -12px;
  left: -14px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

ul {
  list-style: none;
}

.chip-count {
  width: 3em;
}

.accordion-inner {
  min-height: 350px;
}

.container {
  margin-top: 20px;
}

.navbar {
  box-shadow: 0 2px 8px 3px rgba(0, 0, 0, .3);
  a {
    cursor: pointer;
  }
}

.navbar .container {
  margin-top: 0;
}

.settings-menu {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 60%;
  }
}

@media (max-width: 768px) {

  .players-drawer-btn {
    position: fixed;
    top: 130px;
    left: 0;
    z-index: 10;
    opacity: .6;
    transition: transform .3s ease-in-out;
    transform: scale(.7) translateX(-9px);
  }

  .players-drawer-btn > .glyphicon {
    transition: transform .5s ease-in-out;
  }

  .players-drawer-btn:hover {
    transform: scale(1) translateX(0);
  }

  .players-drawer-btn.players-drawer-open {
    transform: scale(1) translateX(300px);
  }

  .players-drawer-btn.players-drawer-open > .glyphicon {
    transform: rotate(180deg);
  }

  #players-control {
    width: 300px;
    height: 100%;
    position: fixed;
    left: -300px;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1100;
    overflow-y: auto;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }

  #players-control.nav-visible {
    left: 0;
    -webkit-box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.7);
  }

  #players-control .table tbody > tr:nth-child(even) > td, .table-striped tbody > tr:nth-child(even) > th {
    background-color: #f0f0f0;
  }

  #players-control table {
    overflow-y: auto;
  }

  #close-players-panel {
    /*position: absolute;
    top: 10px;
    right: -50px;*/
  }

  .current-game .form-control {
    padding-right: 6px;
    padding-left: 6px;
    min-width: 4.2em;
  }
}

.new-community-btn {
  overflow: hidden;
  text-overflow: ellipsis;
  .new-community-btn-text {
    text-overflow: ellipsis;
  }
}

/* NG Animations */

/* Slide */
.slide {
  transition: 350ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.slide.ng-enter {
  opacity: (0);
  transform: translate(-130px, 0);
}

.slide.ng-enter.ng-enter-active,
.slide.ng-move.ng-move-active,
.slide.ng-leave {
  opacity: 1;
  transform: translate(0, 0);
}

.slide.ng-leave-active {
  opacity: 0;
  transform: translate(-130px, 0);
}

/* Fade */
.fader.ng-enter,
.fader.ng-move,
.fader.ng-leave {
  transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
}

.fader.ng-enter,
.fader.ng-move {
  opacity: 0;
  transform: scale(.1, .1);
}

.fader.ng-enter.ng-enter-active,
.fader.ng-move.ng-move-active,
.fader.ng-leave {
  opacity: 1;
  transform: scale(1, 1);
}

.fader.ng-leave-active {
  opacity: 0;
  transform: scale(.1, .1);
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
