<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome to Pokermunity</h2>
            <div class="btn-group btn-group-justified">
                <div class="btn-group btn-group-lg">
                    <button class="btn btn-default btn-block" ng-click="vm.add()">Create a community</button>
                </div>
                <div class="btn-group btn-group-lg" ng-class="{'open': vm.communityDropdownOpen}">
                    <button class="btn btn-default btn-block dropdown-toggle" ng-click="vm.communitiesDropdownToggle()">Join a community <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-repeat="community in vm.communities">
                            <a ng-click="vm.join( community )">{{ community.name }} <em ng-show="vm.admins[$index]">(administered by adminhere)</em></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <input class="form-control" type="text" ng-model="vm.newCommunity" placeholder="Community name">
        </div>
        <div class="col-xs-4">
            <button class="btn btn-default btn-block" ng-click="vm.add()"><span class="fa fa-plus"></span> Create a new Pokermunity</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item" ui-sref-active="active" ng-repeat="community in vm.communities">
                    <a ui-sref="community({ communityId: community.$id })">{{ community.name }}</a>
                    <button class="btn btn-sm btn-success" ng-click="vm.addMember( community )">Add members</button>
                </li>
            </ul>
            <div class="row">
                <div class="col-xs-12" ui-view></div>
            </div>
        </div>
    </div>
</div>
