<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome to Pokermunity</h2>
            <p ng-class="{'open': vm.communityDropdownOpen}">
              You can <paper-button raised ng-click="vm.startAddingCommunity()">create</paper-button> or
              <em id="join-community-help" title="To join a community, ask the admin to send you a joining link">join <span class="fa fa-question-circle"></span></em>
              a community
            </p>
            <!--<div class="btn-group btn-group-justified">-->
                <!--<div class="btn-group btn-group-lg">-->
                    <!--<button class="btn btn-default btn-block" ng-click="vm.startAddingCommunity()">Create a community</button>-->
                <!--</div>-->
                <!--<div class="btn-group btn-group-lg" ng-class="{'open': vm.communityDropdownOpen}">-->
                    <!--<button class="btn btn-default btn-block dropdown-toggle" ng-click="vm.communitiesDropdownToggle()">Join a community <span class="caret"></span></button>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li ng-repeat="community in vm.communities">-->
                            <!--<a ng-click="vm.startJoiningCommunity( community )">{{ community.name }} <em ng-show="vm.admins[$index]">(administered by adminhere)</em></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
    <community-picker communities="vm.communities" on-select="vm.gotoCommunity($event)"></community-picker>
    <div class="row new-community" ng-class="{'new-community__active': vm.editingCommunity}">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="input-group">
              <input class="form-control" type="text" ng-model="vm.newCommunity" ng-disabled="vm.communityInputDisabled"
                     placeholder="{{vm.addingCommunity ? 'Community name' : 'Joining code (ask admin)'}}">
              <div class="input-group-btn">
                <button class="btn btn-default new-community-btn" ng-click="vm.saveCommunity()">
                  <span class="icon icon-cloud-done"></span>
                  <span class="new-community-btn-text"> Save</span>
                </button>
                <button class="btn btn-default" ng-click="vm.closeCommunityEdit()">
                  <span class="icon icon-delete"></span>
                  <span class="new-community-btn-text"> Cancel</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <game-settings game="vm.defaultSettings" on-update="vm.settingsUpdated(settings)"></game-settings>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-xs-12" ui-view></div>
            </div>
        </div>
    </div>
</div>
