{
  "extends": [
    "angular",
    "dustinspecker"
  ],
  "rules": {
    "angular/ng_controller_name": [2, "/[A-Z].*Ctrl$/"],
    "consistent-this": 0,
    "angular/ng_json_functions": 0,
    "angular/ng_controller_as_vm": 0,
    "no-empty": 0,
    "no-extra-parens": 0
  },
  "globals": {
    "_": false,
    "Highcharts": false,
    "angular": false
  }
}
