<uib-accordion class="settings-menu">
  <uib-accordion-group>
    <uib-accordion-heading>
      <span class="icon icon-cogs"></span>
      <span> Game Preferences: Chip value {{ $ctrl.settings.chipValue }}, Default buyin {{ $ctrl.settings.defaultBuyin }}, Hosting {{ $ctrl.settings.hostingCosts }}, gusts {{ $ctrl.settings.allowedGuests }}</span>
    </uib-accordion-heading>
    <form class="form-inline row">
      <div class="form-group col-md-4">
        <label>Chip value:</label>
        <paper-slider id="chipValue" pin min="1" max="400" bind-from="$ctrl.settings.chipValue" on-update="$ctrl.chipsValueUpdated(value)"></paper-slider>
      </div>
      <div class="form-group col-md-4">
        <label for="defaultBuyin">Default buyin:</label>
        <input class="form-control default-buyin-control" type="number" min="50" step="50" id="defaultBuyin" ng-model="$ctrl.settings.defaultBuyin" />
      </div>
      <div class="form-group col-md-4">
        <label for="hostingCosts">Hosting costs:</label>
        <input class="form-control hosting-costs-control" type="number" min="10" step="10" id="hostingCosts" ng-model="$ctrl.settings.hostingCosts" />
      </div>
      <div class="form-group col-xs-12">
        <label># allowed guests:</label>
        <pk-counter counter="$ctrl.details.allowedGuests" on-update="$ctrl.allowedGuestsUpdated(counter)"></pk-counter>
      </div>
    </form>

    <paper-button class="save-community-default" raised>Save as community's default</paper-button>
  </uib-accordion-group>
</uib-accordion>
