<link href="styles/signin.css" rel="stylesheet">

<div class="container">
	<form class="form-signin" role="form" name="loginForm">
		<h2 class="form-signin-heading">Please sign in</h2>
		<google-plus-signin clientid="1053634869128-rj5rm5ilcdna5rhcp2n6ank7tj1j4rdq" language="en" ng-hide="authCtrl.user.authToken"></google-plus-signin>
		<div>
			Hi {{ authCtrl.user.name }}, <img class="img-circle" ng-src="{{ authCtrl.user.imgUrl }}" alt=""/>
			<button class="btn btn-danger" ng-click="authCtrl.signOut()"><span class="fa fa-google-plus"></span> logout</button>
		</div>
	</form>
</div>
