<div class="container" ng-init="vm.init();">
	<div ng-cloak>
		<h5>
			Games report ( Between {{ vm.displayGames.fromDate | date:'yyyy-MM-dd' }} and {{ vm.displayGames.toDate | date:'yyyy-MM-dd' }} )
		</h5>
		<div class="row">
			<div class="col-md-12">
				<form name="statsForm" class="form-inline">
					<div class="form-group">
						<label for="fromDate">From</label>
						<div class="input-group input-group-sm">
							<input ng-change="vm.loadGames()" class="form-control" id="fromDate" type="text" datepicker-popup="yyyy-MM-dd" ng-model="vm.displayGames.fromDate" datepicker-options="vm.dateOptions" show-weeks="false" is-open="vm.displayGames.fromDateOpen" readonly="readonly" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.toggleDateRange('from', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</div>
					<div class="form-group">
						<label for="toDate">To</label>
						<div class="input-group input-group-sm">
							<input ng-change="vm.loadGames()" class="form-control" id="toDate" type="text" datepicker-popup="yyyy-MM-dd" ng-model="vm.displayGames.toDate" datepicker-options="vm.dateOptions" show-weeks="false" is-open="vm.displayGames.toDateOpen" readonly="readonly" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="vm.toggleDateRange('to', $event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</div>
					<button class="btn btn-info" ng-click="vm.loadAllTimeGames()" analytics-on analytics-category="Actions">All Time</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<strong>Total games: </strong><span class="badge">{{ vm.gamesCount() }}</span>
			</div>
			<div class="col-md-9">
				<em>Showing players who played over </em>
				<div class="btn-group btn-group-sm">
					<label class="btn btn-default" ng-repeat="option in vm.filterOptions.gamesCount" ng-model="vm.filter.gamesCount" btn-radio="option"><span class="badge">{{ option | percentage }}</span> <em>({{ option * vm.totalGames | number:0 }})</em></label>
				</div>
				<em> of games</em>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>
							<span>
								Name
							</span>
							<span class="form-inline">
								<input class="form-control input-sm" ng-model="vm.filter.name" placeholder="Player's name or other property"/>
							</span>
						</th>
						<th class="hidden-sm hidden-xs">Buy in</th>
						<th class="hidden-sm hidden-xs">Buy out</th>
						<th>Total Profit</th>
						<th>Profit per game</th>
						<th>Avarage Buy in</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="player in vm.displayGames.players | filter:vm.playerPredicate" ng-class="{'success': (player.buyout - player.buyin > 0), 'danger': (player.buyout - player.buyin < 0)}">
						<td>
							<span>{{ player.name }}</span> <span class="badge" title="Games played">{{ player.gamesCount }}</span> <button class="btn btn-link" ng-click="vm.openPlayerDetailsDialog(player)" analytics-on analytics-event="Player Details" analytics-category="Actions" analytics-label="{{ player.name }}"><span class="fa fa-external-link"></span></button>
						</td>
						<td class="hidden-sm hidden-xs">{{ player.buyin }}</td>
						<td class="hidden-sm hidden-xs">{{ player.buyout }}</td>
						<td>
							<span class="label" ng-class="{'label-success': (player.buyout - player.buyin > 0), 'label-danger': (player.buyout - player.buyin < 0), 'label-default': (player.buyout - player.buyin == 0)}" bs-popover data-content="{{'buyin: ' + player.buyin + ', buyout: ' + player.buyout}}" data-placement="bottom" data-trigger="hover touchup">{{ (player.buyout - player.buyin) }}</span>
						</td>
						<td>{{ (player.gamesCount != 0) && ((player.buyout - player.buyin) / player.gamesCount) | number:2 }}</td>
						<td>{{ (player.gamesCount != 0) && (player.buyin / player.gamesCount) | number:2 }}</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th>
							{{ vm.displayGames.players.length }} Players <span class="badge" title="Average games count">{{ vm.statsAvgGameCount() | number:0 }}</span>
						</th>
						<td class="hidden-sm hidden-xs">{{ vm.statsAvgBuyin() | number:2 }}</td>
						<td class="hidden-sm hidden-xs">{{ vm.statsAvgBuyout() | number:2 }}</td>
						<td>{{ vm.statsAvgWinnings() | number:2 }}</td>
						<td>{{ vm.statsAvgWinningsPerGame() | number:2 }}</td>
						<td>-</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
</div>