<paper-card class="container-fluid community-wrap" heading="{{ vm.community.name }}" alt="{{ vm.community.name }}">
  <div class="card-content">
    <div class="row" ng-if="!vm.currentUser || !vm.isMember" ng-show="vm.inCommunityRoute()">
      <div class="col-xs-12">
        <h3>Not a member</h3>
        <a ui-sref="joinCommunity({communityId: vm.community.$id})">
          <paper-button raised>Join</paper-button>
        </a>
      </div>
    </div>
    <div ng-if="!!vm.currentUser">
      <div class="row" ng-show="!vm.inCommunityRoute()">
        <div class="col-xs-5">
          <a ui-sref="community({communityId: vm.community.$id})">
            <paper-button raised>
              <span class="icon icon-arrow_back"></span>
              <span>{{ vm.community.name }}</span>
            </paper-button>
          </a>
        </div>
      </div>
      <div class="row">
        <nav class="col-xs-12">
          <ul class="nav nav-tabs">
            <li role="presentation" ui-sref-active="active">
              <a ui-sref="rsvp({communityId: vm.community.$id})">
                <span class="icon icon-schedule"></span>
                <span> RSVP</span>
              </a>
            </li>
            <li role="presentation" ui-sref-active="active">
              <a ui-sref="stats({ fromDate: vm.fromDate, toDate: vm.toDate })">
                <span class="icon icon-bar-chart"></span>
                <span> Stats</span>
              </a>
            </li>
            <li role="presentation" ui-sref-active="active" ng-if="vm.isAdmin">
              <a ui-sref="communityPlayers({communityId: vm.community.$id})">
                <span class="icon icon-people"></span>
                <paper-badge ng-if="vm.joiners.length" label="{{vm.joiners.length || 0}}"></paper-badge>
                <span> Players</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="row" ng-if="vm.isAdmin" ng-show="vm.inCommunityRoute()">
        <div class="col-xs-4">
          <label class="sr-only">Join code</label>
          <input class="form-control" placeholder="Join code" type="text" ng-model="vm.community.joinCode">
        </div>
        <div class="col-xs-4 col-sm-2">
          <paper-button raised ng-click="vm.generateJoinLink()" uib-tooltip="Save">
            <span class="icon icon-floppy-o"></span>
          </paper-button>
        </div>
        <div class="col-xs-4 col-sm-6">
          <!--<span>https://ourhomegame.com/join-community/{{vm.community.$id}}?joinCode={{vm.community.joinCode}}</span>-->
          <paper-button raised ngclipboard data-clipboard-text="https://ourhomegame.com/join-community/{{vm.community.$id}}" uib-tooltip="Copy to clipboard">
            <span class="icon icon-clipboard"></span>
          </paper-button>
        </div>
      </div>
      <div class="row" ng-if="!!vm.games && vm.isAdmin">
        <div class="col-xs-12">
          <ul class="pagination">
            <li ng-click="vm.prevPage()">
              <a aria-label="Previous">
                <span class="icon icon-arrow-left" aria-hidden="true"></span>
              </a>
            </li>
            <li ng-repeat="game in vm.games | orderBy:'date' | limitTo:vm.pageSize:vm.currentPage" ui-sref-active="active">
              <a ui-sref="game({ gameId: game.$id })" title="{{ game.$id }}" role="tab">{{ game.date | date:'yyyy-MM-dd' }} @ {{ game.location }}</a>
            </li>
            <li ng-click="vm.nextPage()">
              <a aria-label="Next">
                <span class="icon icon-arrow-right" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row" ui-view></div>
    </div>
  </div>
  <div class="card-actions">
    <paper-button ng-click="vm.createGame( vm.community )">New Game</paper-button>
  </div>
</paper-card>
