<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{ vm.community.name }}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class="slide" ng-repeat="game in vm.community.games" ui-sref-active="active">
                        <a ui-sref="game({ gameId: game.$id })" role="tab">{{ game.date | date:'yyyy-MM-dd' }} @ {{ game.location }}</a>
                    </li>
                </ul>
                <div ui-view></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" ng-click="vm.createGame( community )">Start a new game</button>
            </div>
        </div>
    </div>
</div>
