<div class="col-xs-12 community-players">
  <div class="row">
    <div class="col-xs-12">
      <h3>Joining users</h3>
      <ul class="joining-users">
        <li ng-repeat="joiner in $ctrl.joiners">
          <!--<span>{{ joiner.email }}</span>-->
          <player-chip player="joiner"></player-chip>
          <paper-button raised ng-click="$ctrl.confirmPlayer(joiner)">
            <span class="icon icon-check"></span>
            <span> Confirm</span>
          </paper-button>
        </li>
      </ul>
    </div>
  </div>
  <players-merger players="$ctrl.members"></players-merger>
  <div class="row">
    <div class="col-xs-12">
      <h3>Members</h3>
      <ul class="community-members">
        <li ng-repeat="member in $ctrl.members">
          <input type="checkbox" ng-model="$ctrl.selection[member.$id]">
          <player-chip player="member" ng-class="{'selected': $ctrl.selection[member.$id]}"></player-chip>
        </li>
        <li ng-repeat="guest in $ctrl.guests">
          <input type="checkbox" ng-model="$ctrl.selection[guest.$id]">
          <player-chip player="guest" ng-class="{'selected': $ctrl.selection[guest.$id]}"></player-chip>
        </li>
      </ul>
    </div>
  </div>
</div>
