<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="loader" ng-show="!$ctrl.community">Loading...</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p ng-show="!$ctrl.joined && $ctrl.currentUser">
        To join the Pokermunity &quot;{{$ctrl.community.name}}&quot;, enter the password you received from the admin and click the &quot;join&quot; button.
      </p>
      <p ng-show="$ctrl.joined && !$ctrl.approved">
        You have already asked to join the Pokermunity &quot;{{$ctrl.community.name}}&quot;.
      </p>
      <p ng-show="$ctrl.approved">
        You are already a member of this community.
        <a ui-sref="community({communityId: $ctrl.community.$id})"> Go to <strong>{{$ctrl.community.name}}</strong></a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <signup-login-form></signup-login-form>
    </div>
  </div>
  <div class="row" ng-show="!$ctrl.joined && !$ctrl.approved && $ctrl.currentUser">
    <div class="col-xs-8">
      <paper-input-container>
        <label>Community join password</label>
        <input is="iron-input" name="joinPass" ng-model="$ctrl.joinCode">
      </paper-input-container>
    </div>
    <div class="col-xs-4">
      <paper-button raised ng-click="$ctrl.joinCommunity()">join &quot;{{$ctrl.community.name}}&quot;</paper-button>
    </div>
  </div>
</div>
