<!doctype html>
<html lang="en" ng-app="pokerManager">
<head>
	<title>Home Poker Game</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="icon" href="img/favicon.ico">

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" href="img/icon.png">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Poker Manager">
	<link rel="apple-touch-icon" href="img/icon.png">

	<link href="styles/bootstrap.min.css" rel="stylesheet"/>
	<link href="styles/bootstrap-spacelab.min.css" rel="stylesheet"/>
	<link href="styles/font-awesome.min.css" rel="stylesheet"/>
	<link href="styles/app.css" rel="stylesheet"/>

	<script src="https://apis.google.com/js/client:platform.js" async defer></script>
</head>
<body>
	<div class="container" ng-controller="MainCtrl as main" ng-init="main.init();">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-target=".navbar-collapse" data-toggle="collapse" ng-click="main.openPlayersControl()">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./index.html">Poker</a>
				</div>
				<div class="collapse navbar-collapse" id="main-navbar-collapse">
					<ul class="nav navbar-nav">
						<li ng-repeat="tab in main.tabs" ng-class="{'active': main.isTabSelected( tab.href )}">
							<a ng-href="{{ tab.href }}"><span class="fa {{ tab.icon }}"></span> {{ tab.title }}</a>
						</li>
					</ul>
					<p class="navbar-text navbar-right">
						<login-state></login-state>
					</p>
				</div>
			</div>
		</nav>

		<div class="row" ng-cloak>
			<div ui-view></div>

			<toaster-container></toaster-container>
		</div>
	</div>

	<!-- build:js scripts/libs.min.js -->
	<script src="lib/lodash.min.js"></script>
	<script src="lib/jquery-1.10.2.min.js"></script>
	<script src="lib/firebase.js"></script>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-ui-router.js"></script>
	<script src="lib/angular/angular-resource.min.js"></script>
	<script src="lib/angular/angular-animate.min.js"></script>
    <script src="lib/angular/angular-cookie.min.js"></script>
	<script src="lib/angular/angulartics.min.js"></script>
	<script src="lib/angular/angulartics-ga.min.js"></script>
	<script src="lib/bootstrap.min.js"></script>
	<script src="lib/angular/ui-bootstrap-tpls-0.14.3.js"></script>
	<script src="lib/angular/angular-strap.js"></script>
	<script src="lib/angular/angular-strap.tpl.js"></script>
	<script src="lib/angular/3rd-parties/toaster.js"></script>
	<script src="lib/angular/3rd-parties/google-auth.js"></script>
	<script src="lib/angular/3rd-parties/google-plus-signin.js"></script>
	<script src="lib/angular/3rd-parties/angularfire.js"></script>
	<script src="lib/highcharts.js"></script>
	<!-- endbuild -->
	<!-- build:js scripts/main.min.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/app.routes.js"></script>
	<script src="scripts/angularfire/auth.js"></script>
	<script src="scripts/angularfire/config.js"></script>
	<script src="scripts/angularfire/firebase.ref.js"></script>
	<script src="scripts/services.js"></script>
	<script src="scripts/home/home.controller.js"></script>
	<script src="scripts/auth/user.service.js"></script>
	<script src="scripts/auth/auth-interceptor.js"></script>
	<script src="scripts/auth/login-state-drtv.js"></script>
	<script src="scripts/auth/login-ctrl.js"></script>
	<script src="scripts/services/players-svc.js"></script>
	<script src="scripts/services/games-svc.js"></script>
	<script src="scripts/controllers.js"></script>
	<script src="scripts/stats/stats-ctrl.js"></script>
	<script src="scripts/communities/communities.service.js"></script>
	<script src="scripts/communities/communities.ctrl.js"></script>
	<script src="scripts/players/players-modal.service.js"></script>
	<script src="scripts/manager/manager-ctrl.js"></script>
	<script src="scripts/manager/game-ctrl.js"></script>
	<script src="scripts/manager/game-drtv.js"></script>
	<script src="scripts/manager/player-drtv.js"></script>
	<script src="scripts/manager/player-details-ctrl.js"></script>
	<script src="scripts/manager/player-details-drtv.js"></script>
	<script src="scripts/filters.js"></script>
	<script src="scripts/directives.js"></script>
	<!-- endbuild -->

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-53379634-1', 'auto');
		//ga('send', 'pageview');
	</script>
</body>
</html>
