<div class="attendance-panel-header" ng-class="{'attendance-panel__open': $ctrl.open}">
  <div class="row">
    <div class="col-xs-3" uib-tooltip="In">
      <span class="icon icon-check text-success"></span>
      <strong class="text-success attending-count-yes" ng-bind="$ctrl.attendanceCount.yes.length || 0"></strong>
    </div>
    <div class="col-xs-3" uib-tooltip="Maybe">
      <span class="icon icon-question text-warning"></span>
      <strong class="text-warning attending-count-maybe" ng-bind="$ctrl.attendanceCount.maybe.length || 0"></strong>
    </div>
    <div class="col-xs-3" uib-tooltip="Out">
      <span class="icon icon-remove text-danger"></span>
      <strong class="text-danger attending-count-no" ng-bind="$ctrl.attendanceCount.no.length || 0"></strong>
    </div>
    <div class="col-xs-3">
      <paper-button class="pull-right" ng-tap="$ctrl.toggleBody()"><span class="icon" ng-class="{'icon-arrow_drop_down': !this.open, 'icon-arrow_drop_up': this.open}"></span></paper-button>
    </div>
  </div>
</div>
<div class="attendance-panel-body">
  <div class="row" ng-show="$ctrl.isAdmin">
    <div class="col-xs-12">
      <players-picker players="$ctrl.players" selected="$ctrl.currentUser.playerId"
                      on-select="$ctrl.playerSelected($event)"></players-picker>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 game-approve-panel">
      <label>Can {{ $ctrl.currentPlayer.displayName }} attend?</label>
      <paper-button class="game-approve-panel__yes" data-answer="yes" raised>
        <span class="icon icon-check"></span>
        <span>&nbsp;I'm in</span>
      </paper-button>
      <paper-button class="game-approve-panel__maybe" data-answer="maybe" raised>
        <span class="icon icon-question"></span>
        <span>&nbsp;Not sure yet</span>
      </paper-button>
      <paper-button class="game-approve-panel__no" data-answer="no" raised>
        <span class="icon icon-remove"></span>
        <span>&nbsp;Can't make it</span>
      </paper-button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <span class="icon icon-check text-success"></span>
      <span> In </span>
      <strong class="text-success attending-count-yes" ng-bind="$ctrl.attendanceCount.yes.length || 0"></strong>
    </div>
    <div class="col-xs-4">
      <span class="icon icon-question text-warning"></span>
      <span> Maybe </span>
      <strong class="text-warning attending-count-maybe" ng-bind="$ctrl.attendanceCount.maybe.length || 0"></strong>
    </div>
    <div class="col-xs-4">
      <span class="icon icon-remove text-danger"></span>
      <span> Out </span>
      <strong class="text-danger attending-count-no" ng-bind="$ctrl.attendanceCount.no.length || 0"></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4">
      <ul class="unpadded-list">
        <li ng-repeat="attending in $ctrl.attendanceCount.yes">
          <div class="thumbnail">
            <img ng-src="{{ attending.photoURL }}" uib-tooltip="{{ attending.displayName }}">
            <strong>
              {{ attending.displayName }}
            </strong>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-4">
      <ul class="unpadded-list">
        <li ng-repeat="attending in $ctrl.attendanceCount.maybe">
          <div class="thumbnail">
            <img ng-src="{{ attending.photoURL }}">
            <strong>
              {{ attending.displayName }}
            </strong>
          </div>
        </li>
      </ul>
    </div>
    <div class="col-xs-4">
      <ul class="unpadded-list">
        <li ng-repeat="attending in $ctrl.attendanceCount.no">
          <div class="thumbnail">
            <img ng-src="{{ attending.photoURL }}">
            <strong>
              {{ attending.displayName }}
            </strong>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
