<div class="col-xs-12">
  <form name="$ctrl.rsvpForm" class="rsvp-view">
    <div class="form-group row">
      <label class="col-xs-12">Select game</label>
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="game in $ctrl.gamesForPicker | orderBy:'date':true" ng-click="$ctrl.gameSelectionChanged(game.value)">
            <span class="icon" ng-class="{'icon-check_box_outline_blank': $ctrl.selectedGame.$id !== game.value, 'icon-check_box': $ctrl.selectedGame.$id === game.value}"></span>
            <strong>{{ game.label }}</strong>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-12">Current count</label>
      <div class="col-xs-12 col-sm-4">
        <span class="icon icon-check text-success"></span>
        <strong class="text-success attending-count-yes">{{ $ctrl.attendanceCount.yes.length || 0 }} In</strong>
      </div>
      <div class="col-xs-12 col-sm-4">
        <span class="icon icon-question text-warning"></span>
        <strong class="text-warning attending-count-maybe">{{ $ctrl.attendanceCount.maybe.length || 0 }} Maybe</strong>
      </div>
      <div class="col-xs-12 col-sm-4">
        <span class="icon icon-remove text-danger"></span>
        <strong class="text-danger attending-count-no">{{ $ctrl.attendanceCount.no.length || 0 }} Out</strong>
      </div>
    </div>
    <div class="form-group row">
      <strong class="col-xs-12">
        {{ $ctrl.selectedGame.title }}
      </strong>
      <div class="col-xs-12">
        {{ $ctrl.selectedGame.date | date:$ctrl.dateFormat }} @ {{ $ctrl.selectedGame.location }}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-12">Your RSVP</label>
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item">
            <label for="attendance-option-yes">
              <input id="attendance-option-yes" type="radio" name="attendanceChoice" value="yes" ng-disabled="!$ctrl.canChangeAttendance">
              <span> In</span>
            </label>
          </li>
          <li class="list-group-item">
            <label for="attendance-option-maybe">
              <input id="attendance-option-maybe" type="radio" name="attendanceChoice" value="maybe" ng-disabled="!$ctrl.canChangeAttendance">
              <span> Maybe</span>
            </label>
          </li>
          <li class="list-group-item">
            <label for="attendance-option-no">
              <input id="attendance-option-no" type="radio" name="attendanceChoice" value="no" ng-disabled="!$ctrl.canChangeAttendance">
              <span> Out</span>
            </label>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-12">Guests</label>
      <div class="col-xs-12">
        <input class="form-control" name="numOfGuests" type="number" ng-model="$ctrl.guests" min="0" max="{{ $ctrl.selectedGame.allowedGuests }}" ng-disabled="!$ctrl.selectedGame.allowedGuests">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-xs-12">Comments</label>
      <div class="col-xs-12">
        <input class="form-control" name="attendanceMessage" type="text" ng-model="$ctrl.attendanceMessage">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-xs-12">
        <label>Full list</label>
        <ul class="list-group rsvp-list">
          <li class="list-group-item list-group-item-success" ng-repeat="attendee in $ctrl.attendanceCount.yes">
            <span class="icon icon-check"></span>
            <img class="img-circle" ng-src="{{ attendee.photoURL }}" alt="">
            <strong>{{ attendee.displayName }}</strong>
            <em>{{ attendee.message }}</em>
          </li>
          <li class="list-group-item list-group-item-warning" ng-repeat="attendee in $ctrl.attendanceCount.maybe">
            <span class="icon icon-question"></span>
            <img class="img-circle" ng-src="{{ attendee.photoURL }}" alt="">
            <strong>{{ attendee.displayName }}</strong>
            <em>{{ attendee.message }}</em>
          </li>
          <li class="list-group-item list-group-item-danger" ng-repeat="attendee in $ctrl.attendanceCount.no">
            <span class="icon icon-remove"></span>
            <img class="img-circle" ng-src="{{ attendee.photoURL }}" alt="">
            <strong>{{ attendee.displayName }}</strong>
            <em>{{ attendee.message }}</em>
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>
