<!--<google-plus-signin clientid="1053634869128-rj5rm5ilcdna5rhcp2n6ank7tj1j4rdq" language="en" ng-hide="authCtrl.user"></google-plus-signin>-->
<button class="btn btn-default navbar-btn" ng-click="authCtrl.signIn()" ng-hide="authCtrl.user"><span class="icon icon-google-plus"></span> Google sign in</button>
<span class="login-state-logged-in" ng-show="authCtrl.user">
    Logged in as <img class="img-circle" ng-src="{{ authCtrl.user.photoURL }}?sz=25" alt=""/> {{ authCtrl.user.name }}
    <button class="btn btn-sm btn-link navbar-btn" ng-click="authCtrl.signOut()"><span class="icon icon-google-plus"></span> logout</button>
</span>
