<div class="current-game">
	<h3>Current Game: played at &quot;{{ vm.game.location }}&quot; (# of players: {{ vm.playersInGame.length | number }}).</h3>

	<game-settings game="vm.game" on-update="vm.gameSettingsChanged(settings)"></game-settings>

  <game-details game="vm.game" on-update="vm.gameDetailsChanged(details)"></game-details>

	<!-- <button class="btn btn-default players-drawer-btn visible-xs" ng-click="vm.openPlayersControl()"><span class="icon icon-arrow-right"></span></button> -->

	<button class="btn btn-default" ng-click="vm.startGame()" ng-disabled="!vm.playersInGame.length">Start game</button>

	<div class="row game-container">
		<div class="col-sm-6 col-xs-12 fader" ng-repeat="player in vm.playersInGame | orderBy:'displayName'">
			<player-card player="player" on-update="vm.playerResultUpdated(updates)"></player-card>
		</div>
	</div>
	<ul class="nav nav-pills" role="tablist">
		<li role="presentation"><a href="">Total Buyin <span class="badge">{{ vm.totalBuyin() }}</span></a></li>
		<li role="presentation"><a href="">Total Chips <span class="badge">{{ vm.totalChips() }}</span></a></li>
		<li role="presentation"><a href="">Total Buyout <span class="badge">{{ vm.totalChips() / vm.game.chipValue }}</span></a></li>
		<li role="presentation"><a href="">Total Hosting <span class="badge">{{ vm.totalHosting() }}</span></a></li>
	</ul>
	<div class="row bg-info end-game-wrap">
		<div class="col-md-12">
			<button ng-click="vm.saveGame()" class="btn btn-block btn-primary" ng-disabled="(vm.playersInGame.length <= 0) || vm.isGameInProgress()" analytics-on analytics-event="Save Game" analytics-category="Actions" analytics-label="{{ vm.game.location }}"><i class="icon icon-download"></i>&nbsp;End Game</button>
		</div>
	</div>

  <div class="row">
    <div class="col-xs-12">
      <paper-confirm-button on-action-confirmed="vm.deleteGame()">
        <i class="icon icon-trash"></i>
        <span> Delete game</span>
      </paper-confirm-button>
    </div>
  </div>
	<!--<uib-accordion>-->
		<!--<uib-accordion-group>-->
			<!--<uib-accordion-heading>-->
				<!--<i class="icon icon-trash"></i>-->
        <!--<span> Delete game</span>-->
			<!--</uib-accordion-heading>-->
			<!--<hr/>-->
			<!--<div class="row">-->
				<!--<button class="btn btn-lg btn-danger btn-block" ng-click="vm.deleteGame()">Delete Game</button>-->
			<!--</div>-->
			<!--<hr/>-->
		<!--</uib-accordion-group>-->
	<!--</uib-accordion>-->
</div>
