<div class="current-game">
	<h3>Current Game: played at &quot;{{ vm.game.location }}&quot; (# of players: {{ vm.playersInGame.length | number }}).</h3>

	<uib-accordion class="settings-menu">
		<uib-accordion-group>
			<uib-accordion-heading>
				<i class="icon icon-cogs"></i> Game Preferences: Chip value {{ vm.game.chipValue }}, Default buyin {{ vm.game.defaultBuyin }}, Hosting {{ vm.game.hostingCosts }}
			</uib-accordion-heading>
			<form class="form-inline row">
				<div class="form-group col-md-4">
					<label>Chip value:</label>
          <paper-slider id="chipValue" pin min="1" max="400" bind-from="vm.game.chipValue" on-update="vm.chipsValueUpdated(value)"></paper-slider>
				</div>
				<div class="form-group col-md-4">
					<label for="defaultBuyin">Default buyin:</label>
					<input class="form-control" type="number" min="50" step="50" id="defaultBuyin" ng-model="vm.game.defaultBuyin" />
				</div>
				<div class="form-group col-md-4">
					<label for="hostingCosts">Hosting costs:</label>
					<input class="form-control" type="number" min="10" step="10" id="hostingCosts" ng-model="vm.game.hostingCosts" />
				</div>
			</form>
		</uib-accordion-group>
	</uib-accordion>

	<form class="form-inline" role="form" name="vm.gameSettings">
		<div class="form-group input-group-sm">
			<label for="gameLocation">Playing at</label>
			<input class="form-control" id="gameLocation" type="text" ng-model="vm.game.location" placeholder="Game Location" />
		</div>
		<div class="form-group">
			<label>on</label>
			<input class="form-control input-sm" type="text" ng-model="vm.game.date" data-date-format="yyyy-MM-dd" data-date-type="number" data-autoclose="1" data-use-native="true" data-icon-left="icon icon-arrow-left" data-icon-right="icon icon-arrow-right" name="date" bs-datepicker>
		</div>
		<div class="form-group">
			<label># of hands:</label>
			<div class="btn-group">
				<button class="btn btn-sm btn-success" ng-click="vm.game.numberOfHands = vm.game.numberOfHands + 1"><i class="icon icon-plus"></i></button>
				<button class="btn btn-sm btn-default" style="width: 80px;">{{ vm.game.numberOfHands }}</button>
				<button class="btn btn-sm btn-danger" ng-click="vm.game.numberOfHands = vm.game.numberOfHands - 1" ng-disabled="vm.game.numberOfHands <= 0"><i class="icon icon-minus"></i></button>
			</div>
		</div>
	</form>

	<!-- <button class="btn btn-default players-drawer-btn visible-xs" ng-click="vm.openPlayersControl()"><span class="icon icon-arrow-right"></span></button> -->

	<button class="btn btn-default" ng-click="vm.startGame()" ng-disabled="!vm.playersInGame.length">Start game</button>

	<div class="row game-container">
		<div class="col-md-4 col-xs-6 fader" ng-repeat="player in vm.playersInGame | orderBy:'name'">
			<player-card player="player" on-update="vm.playerUpdated(updates)"/>
		</div>
	</div>
	<ul class="nav nav-pills" role="tablist">
		<li role="presentation"><a href="">Total Buyin <span class="badge">{{ vm.totalBuyin() }}</span></a></li>
		<li role="presentation"><a href="">Total Chips <span class="badge">{{ vm.totalChips() }}</span></a></li>
		<li role="presentation"><a href="">Total Buyout <span class="badge">{{ vm.totalChips() / vm.game.chipValue }}</span></a></li>
		<li role="presentation"><a href="">Total Hosting <span class="badge">{{ vm.totalHosting() }}</span></a></li>
	</ul>
	<div class="row bg-info end-game-wrap">
		<div class="col-md-12">
			<button ng-click="vm.saveGame()" class="btn btn-block btn-primary" ng-disabled="(vm.playersInGame.length <= 0) || vm.isGameInProgress()" analytics-on analytics-event="Save Game" analytics-category="Actions" analytics-label="{{ vm.game.location }}"><i class="icon icon-download"></i>&nbsp;End Game</button>
		</div>
	</div>

	<uib-accordion>
		<uib-accordion-group>
			<uib-accordion-heading>
				<i class="icon icon-trash"></i>
        <span> Delete game</span>
			</uib-accordion-heading>
			<hr/>
			<div class="row">
				<button class="btn btn-lg btn-danger btn-block" ng-click="vm.deleteGame()">Delete Game</button>
			</div>
			<hr/>
		</uib-accordion-group>
	</uib-accordion>
</div>
