<form role="form" class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-4 control-label" for="playerName">Added on</label>
		<div class="col-sm-8">
			<input class="form-control" type="text" id="playerName" name="playerName" ng-model="pCtrl.player.createDate" disabled="disabled"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="playerName">Name</label>
		<div class="col-sm-8">
			<input class="form-control" type="text" id="playerName" name="playerName" ng-model="pCtrl.player.name" disabled="disabled" ng-disabled="!pCtrl.isAdmin()"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="playerEmail">Email</label>
		<div class="col-sm-8">
			<input class="form-control" type="email" id="playerEmail" name="playerEmail" ng-model="pCtrl.player.email" disabled="disabled" ng-disabled="!pCtrl.isAdmin()"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="playerPhone">Phone</label>
		<div class="col-sm-8">
			<input class="form-control" type="tel" id="playerPhone" name="playerPhone" ng-model="pCtrl.player.phone" disabled="disabled" ng-disabled="!pCtrl.isAdmin()"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="playerBalance">Balance</label>
		<div class="col-sm-8">
			<input class="form-control" type="number" step="10" id="playerBalance" name="playerBalance" ng-model="pCtrl.player.balance" disabled="disabled"/>
		</div>
	</div>
</form>

<div class="loader" ng-show="loading">Loading...</div>
<div ng-hide="loading">
	<button class="btn btn-info refresh-data-btn" analytics-on analytics-event="Player Performance" analytics-category="Actions" analytics-label="{{ pCtrl.player.name }}">Refresh <span class="fa fa-refresh"></span></button>
	<table class="table table-striped table-hover" ng-hide="pCtrl.player.balance == 0">
		<thead>
			<tr>
				<th>Date</th>
				<th>Profit/Loss</th>
				<th>BBs</th>
				<th>Balance</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="game in pCtrl.player.games" ng-class="{'success': (game.players[ 0 ].balance > 0), 'danger': (game.players[ 0 ].balance < 0)}">
				<td>{{ game.date | date:'y-MM-dd' }}</td>
				<td>
					<span ng-class="{'label label-success': (game.players[0].buyout > game.players[0].buyin), 'label label-danger': (game.players[0].buyout < game.players[0].buyin), 'label label-default': (game.players[0].buyout == game.players[0].buyin)}">{{ game.players[0].buyout - game.players[0].buyin }}</span>
				</td>
				<td>
					<span ng-class="{'label label-success': (game.players[0].buyout > game.players[0].buyin), 'label label-danger': (game.players[0].buyout < game.players[0].buyin), 'label label-default': (game.players[0].buyout == game.players[0].buyin)}">{{ (game.players[0].buyout - game.players[0].buyin) / 50 }}</span>
				</td>
				<td>
					<span ng-class="{'label label-success': (game.players[0].balance > 0), 'label label-danger': (game.players[0].balance < 0), 'label label-default': (game.players[0].balance == 0)}">{{ game.players[0].balance }}</span>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr ng-class="{'success': pCtrl.player.games[pCtrl.player.games.length - 1].balance > 0, 'danger': pCtrl.player.games[pCtrl.player.games.length - 1].balance < 0}">
				<th>Played {{ pCtrl.player.games.length }} games</th>
				<th>{{ pCtrl.player.winningSessions }} winning sessions <span class="badge">{{ pCtrl.player.winningSessions / pCtrl.player.games.length | percentage:1 }}</span></th>
				<th>Average winnings (in BBs): <span class="badge">{{ pCtrl.player.avgWinning | number:2 }}</span></th>
				<th>
					{{ pCtrl.player.games[pCtrl.player.games.length - 1].balance }}
				</th>
			</tr>
		</tfoot>
	</table>
</div>