<div class="player-card" ng-class="{'bg-success': (player.buyout - player.buyin > 0), 'bg-danger': (player.buyout - player.buyin < 0)}">
	<button class="btn btn-xs btn-danger cancel-btn" title="Cancel" ng-disabled="!player.isPlaying" ng-click="gameCtrl.cancelAddPlayer(player)"><span class="icon icon-trash"></span></button>
	<header class="well well-sm" title="{{player.displayName}}">
		<strong ng-class="{'text-success': (player.buyout - player.buyin > 0), 'text-danger': (player.buyout - player.buyin < 0)}">
			<span class="icon icon-user"></span>&nbsp;{{player.displayName}}
		</strong>
	</header>
	<div class="player-card-content">
    <form>
      <fieldset class="form-group">
        <label>Buyin</label>
        <div class="input-group input-group-sm buy-amount">
          <div class="input-group-btn">
            <button class="btn btn-warning" ng-click="gameCtrl.cancelBuyin(player, 1)" ng-disabled="!player.isPlaying || player.buyin <= 0" title="Cancel Buy-in">
              <i class="icon icon-minus"></i>
              <span class="hidden-xs hidden-sm"> 1</span>
            </button>
            <button class="btn btn-warning buy-amount__small" ng-click="gameCtrl.cancelBuyin(player, 0.1)" ng-disabled="!player.isPlaying || player.buyin <= 0" title="Cancel Buy-in">
              <i class="icon icon-minus"></i>
              <span class="hidden-xs hidden-sm"> 0.1</span>
            </button>
          </div>
          <button class="btn btn-default form-control">{{player.buyin}}</button>
          <div class="input-group-btn">
            <button class="btn btn-success buy-amount__small" ng-click="gameCtrl.buyin(player, 0.1)" ng-disabled="!player.isPlaying" title="Buy-in">
              <i class="icon icon-plus"></i>
              <span class="hidden-xs hidden-sm"> 0.1</span>
            </button>
            <button class="btn btn-success" ng-click="gameCtrl.buyin(player, 1)" ng-disabled="!player.isPlaying" title="Buy-in">
              <i class="icon icon-plus"></i>
              <span class="hidden-xs hidden-sm"> 1</span>
            </button>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label>Chips</label>
        <div class="input-group input-group-sm buy-amount">
          <div class="input-group-btn">
            <button class="btn btn-danger" ng-click="gameCtrl.addOrSubtractChips(player, 1)" ng-disabled="!player.isPlaying">
              <i class="icon icon-minus"></i>
              <span class="hidden-xs hidden-sm"> 1</span>
            </button>
            <button class="btn btn-danger buy-amount__small" ng-click="gameCtrl.addOrSubtractChips(player, 0.10)" ng-disabled="!player.isPlaying">
              <i class="icon icon-minus"></i>
              <span class="hidden-xs hidden-sm">0.1</span>
            </button>
          </div>
          <input class="form-control" ng-model="player.currentChipCount" ng-change="gameCtrl.chipCountUpdate(player)" type="number" min="0" step="{{ settings.chipValue }}" ng-disabled="!player.isPlaying" autofocus/>
          <div class="input-group-btn">
            <button class="btn btn-success buy-amount__small" ng-click="gameCtrl.addOrSubtractChips(player, 0.10, true)" ng-disabled="!player.isPlaying">
              <i class="icon icon-plus"></i>
              <span class="hidden-xs hidden-sm"> 0.1</span>
            </button>
            <button class="btn btn-success" ng-click="gameCtrl.addOrSubtractChips(player, 1, true)" ng-disabled="!player.isPlaying">
              <i class="icon icon-plus"></i>
              <span class="hidden-xs hidden-sm"> 1</span>
            </button>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label>Buyout</label>
        <p class="form-control-static">
          <strong ng-class="{'text-success': (player.buyout - player.buyin > 0), 'text-danger': (player.buyout - player.buyin < 0)}">{{player.buyout}}</strong>
        </p>
      </fieldset>
      <fieldset class="form-group">
        <label>Actions</label>
        <div class="btn-group btn-group-sm">
          <button ng-click="gameCtrl.buyout(player)" class="btn btn-primary" ng-disabled="!player.isPlaying" title="Buy out">
            <i class="icon icon-external-link"></i>
            <span class="hidden-xs"> Buy out</span>
          </button>
          <button ng-click="gameCtrl.bust(player)" class="btn btn-danger" ng-disabled="!player.isPlaying" title="Bust">
            <i class="icon icon-trash"></i>
            <span class="hidden-xs"> Bust</span>
          </button>
          <button ng-click="gameCtrl.comeBack(player)" class="btn btn-primary" ng-disabled="player.isPlaying" title="Come Back">Come Back</button>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label>Hosting</label>
        <button ng-model="player.paidHosting" ng-click="onUpdate({updates: player})" class="btn btn-sm btn-default" uib-btn-checkbox btn-checkbox-true="true" btn-checkbox-false="false">
          <span class="icon" ng-class="player.paidHosting && 'icon-check-square-o' || 'icon-exclamation-triangle'"></span>&nbsp;<span>{{player.paidHosting && 'Paid' || 'Owes'}}</span>
        </button>
      </fieldset>
    </form>
	</div>
</div>
