<form role="form" class="form-horizontal">
  <div class="form-group">
    <div class="col-xs-4 col-xs-offset-8">
      <paper-button raised ng-click="pCtrl.giveUserAdminPriveleges()">
        <span class="icon icon-user-plus"></span>
        <span> Set admin</span>
      </paper-button>
    </div>
  </div>
	<div class="form-group">
		<label class="col-sm-4 control-label">Added on</label>
		<div class="col-sm-8">
      <p class="form-control-static">{{pCtrl.player.createDate | date:'y-MM-dd'}}</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="playerName">Name</label>
		<div class="col-sm-8">
			<input class="form-control" type="text" id="playerName" name="playerName" ng-model="pCtrl.player.name" disabled="disabled" ng-disabled="!pCtrl.isAdmin()"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="playerEmail">Email</label>
		<div class="col-sm-8">
			<input class="form-control" type="email" id="playerEmail" name="playerEmail" ng-model="pCtrl.player.email" disabled="disabled" ng-disabled="!pCtrl.isAdmin()"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="playerPhone">Phone</label>
		<div class="col-sm-8">
			<input class="form-control" type="tel" id="playerPhone" name="playerPhone" ng-model="pCtrl.player.phone" disabled="disabled" ng-disabled="!pCtrl.isAdmin()"/>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-4 control-label" for="playerBalance">Balance</label>
		<div class="col-sm-8">
			<input class="form-control" type="number" step="10" id="playerBalance" name="playerBalance" ng-model="pCtrl.player.balance" disabled="disabled"/>
		</div>
	</div>
</form>

<player-performance player="pCtrl.player" games="pCtrl.filteredGames"></player-performance>
