<form ng-show="!$ctrl.currentUser" name="$ctrl.userProfileForm">
  <fieldset>
    <!--<legend>Social login</legend>-->
    <paper-button class="google-login-btn" raised>
      <span class="icon icon-google-plus"></span>
      <span>&nbsp;Login</span>
    </paper-button>
  </fieldset>
  <hr>
  <fieldset>
    <!--<legend>Email login</legend>-->
    <label>
      <input type="checkbox" ng-model="$ctrl.signingUp">
      <span>Sign up</span>
    </label>
    <paper-input-container auto-validate ng-show="$ctrl.signingUp">
      <label>Name</label>
      <input is="iron-input" name="name" ng-model="$ctrl.userInputs.name" ng-required="$ctrl.signingUp">
      <paper-input-error>Name is mandatory</paper-input-error>
    </paper-input-container>
    <paper-input-container auto-validate>
      <label>Email</label>
      <input is="iron-input" name="email" ng-model="$ctrl.userInputs.email" required>
    </paper-input-container>
    <paper-input-container auto-validate>
      <label>Password</label>
      <input is="iron-input" name="password" type="password" ng-model="$ctrl.userInputs.pass" pattern="[\w]{6,}" required>
      <paper-input-error>Password should be at least 6 characters long</paper-input-error>
    </paper-input-container>
    <paper-button class="signup-button" raised ng-tap="$ctrl.signup()" ng-show="$ctrl.signingUp">
      <span class="icon icon-user-circle-o"></span>
      <span> Signup</span>
    </paper-button>
    <paper-button class="login-button" raised ng-tap="$ctrl.login('email')" ng-hide="$ctrl.signingUp">
      <span class="icon icon-user-circle-o"></span>
      <span> Login</span>
    </paper-button>
  </fieldset>
  <fieldset class="login-errors">
    <p class="text-danger" ng-if="$ctrl.loginErrorMessage">{{ $ctrl.loginErrorMessage }}</p>
  </fieldset>
</form>
