<paper-card class="container-fluid" heading="{{ $ctrl.currentUser.displayName || 'Please Login' }}" image="{{ $ctrl.currentUser.provider === 'google' ? $ctrl.currentUser.photoURL + '?sz=150' : $ctrl.currentUser.photoURL }}" alt="User's profile image">
  <div class="card-content">
    <community-picker communities="$ctrl.communities" selected="$ctrl.selectedCommunity" on-select="$ctrl.communitySelectionChanged($event)"></community-picker>
    <player-details ng-show="!!$ctrl.currentUser.playerId" player-id="$ctrl.currentUser.playerId" community-filter="$ctrl.selectedCommunity"></player-details>
    <form ng-show="!$ctrl.currentUser" name="$ctrl.userProfileForm">
      <fieldset>
        <!--<legend>Social login</legend>-->
        <paper-button raised ng-click="$ctrl.login('google')">
          <span class="icon icon-google-plus"></span>
          <span> Login</span>
        </paper-button>
      </fieldset>
      <fieldset>
        <!--<legend>Email login</legend>-->
        <label>
          <input type="checkbox" ng-model="$ctrl.signingUp">
          <span>Sign up</span>
        </label>
        <paper-input-container auto-validate ng-show="$ctrl.signingUp">
          <label>Name</label>
          <input is="iron-input" name="name" ng-model="$ctrl.userInputs.name" ng-required="$ctrl.signingUp">
          <paper-input-error>Name is mandatory</paper-input-error>
        </paper-input-container>
        <paper-input-container auto-validate>
          <label>Email</label>
          <input is="iron-input" name="email" ng-model="$ctrl.userInputs.email" required>
        </paper-input-container>
        <paper-input-container auto-validate>
          <label>Password</label>
          <input is="iron-input" name="password" type="password" ng-model="$ctrl.userInputs.pass" pattern="[\w]{6,}" required>
          <paper-input-error>Password should be at least 6 characters long</paper-input-error>
        </paper-input-container>
        <paper-button raised ng-click="$ctrl.signup()" ng-show="$ctrl.signingUp">
          <iron-icon icon="send"></iron-icon>
          <span>Signup</span>
        </paper-button>
        <paper-button raised ng-click="$ctrl.login('email')" ng-hide="$ctrl.signingUp">
          <iron-icon icon="send"></iron-icon>
          <span>Login</span>
        </paper-button>
      </fieldset>
    </form>
  </div>
  <div class="card-actions">
    <paper-button ng-if="$ctrl.currentUser" ng-click="$ctrl.logout()">Logout</paper-button>
  </div>
</paper-card>
